@page
@*@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv*@

<h2>Password reset email sent</h2>
<div>
    We just sent a message to the email you provided with a link to reset your password. Please check your inbox and follow the instructions in the email.
</div>

