<div class="container" id="login-wrapper">
    <div class="text-center center">
        <h1 class="display-4">Welcome to Crawler!</h1>
        <img src="~/images/searchIcon.PNG" class="center" />
    </div>