@*@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv*@
@using TestTaskCrawler.Models;
@model TestTaskCrawler.Models.Account


<div class="container" id="login-wrapper">

    <div class="text-center">
        <h1 class="display-4">Create New Account</h1>
    </div>

    <div id="signup-form">
        <form action="/home/signup" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="kmtx57HZPfVpYL2WO2G4qNZKDkJ_WxchdSt26Il4JsAfkjG6RjOUOK65fe7YGS3HlklbY15kBIHXgECfxkwBgYGZogThMfkIjsuwdvZa56R4vu3uiKgarjSVzW_1dAfGM2QkcmujSwfU4v_O7b7zTlQyOCpbARLCBTbKBUdZBok1">

            <div class="row center">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control center", @placeholder = "Email Address" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control center", @placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)

            </div>
            <div class="row button-group">
                <button class="btn btn-primary center" data-style="expand-left" data-spinner-size="25" onclick="myFunction()">Sign Up</button>
            </div>
            <br />
            <div class="form-group center">
                Already have an account? <a href="/Home">Sign In</a>
            </div>
        </form>

    </div>
</div>
