<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, 
PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="EFContextDBConnectionString"
         connectionString="Server=(localdb)\mssqllocaldb;Database=EFContextDB;Trusted_Connection=True;" />
  </connectionStrings>
  </configuration>